<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" type="image/png" sizes="36x36" href="/assets/favicon.ico/android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon.ico/android-icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="/assets/favicon.ico/android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/favicon.ico/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- insert google analytics code here -->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6434961637099601"
     crossorigin="anonymous"></script> -->

<!-- end custom head snippets -->
